<main>
  <div id="left">
    <app-articel *ngFor="let d of data"
      ><h1>{{ d.titel }}</h1>

      <p>Variablen sind (ähnlich, wie in Mathe) Platzhalter für Werte.</p>
      <p>Sie halten sozusagen eine Zahl, ein Wort oder einen Buchstaben.</p>
      {{ parseCode() | async }}
    </app-articel>
  </div>

  <label id="code"
    >Code
    <ngx-prism [code]="parseCode() | async" language="javaScript"></ngx-prism>
  </label>
  <label id="output">
    Output
    <ngx-prism [code]="out() | async" language="any"></ngx-prism>
  </label>
</main>
