main {
  height: 100%;
  display: grid;
  width: 100%;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "left auto"
    "left auto";

  .window {
    position: fixed;
    height: calc(50% - 2rem);
    width: calc(50% - 2rem);
    right: 0;
    margin: 1rem;
    & ::ng-deep pre {
      height: calc(100% - 24px);
      margin: 0;
      background-color: rgba(0, 0, 0, 0.2);
    }
  }
  #code {
    top: 0;
  }
  #output {
    top: 50%;
    & ::ng-deep * {
      color: lightgreen;
    }
  }

  #left {
    grid-area: left;
  }
}

@media only screen and (max-width: 800px) {
  main {
    grid-template-rows: 1fr !important;
    grid-template-columns: 1fr !important;
  }
  .window {
    display: none;
  }
}
