<main>
  <div id="left">
    <app-articel *ngFor="let d of data"
      ><h1>{{ d.titel }}</h1>

      <div innerHTML="{{ d.text }}"></div>
    </app-articel>
  </div>

  <img
    *ngIf="(foto$ | async) !== null ? true : false; else elseTem"
    [src]="foto$ | async"
    class="window"
    id="code"
  />

  <ng-template #elseTem>
    <label id="code" class="window"
      >Code
      <prism-highlight [code]="parseCode() | async" language="javascript">
      </prism-highlight>
    </label>
  </ng-template>

  <img
    *ngIf="(foto2$ | async) !== null ? true : false; else elseTem2"
    [src]="foto2$ | async"
    class="window"
    id="output"
  />

  <ng-template #elseTem2>
    <label id="output" class="window">
      Output
      <prism-highlight [code]="out() | async" language="any"></prism-highlight>
    </label>
  </ng-template>
</main>
