<main>
  <div id="left">
    <app-articel *ngFor="let d of data"
      ><h1>{{ d.titel }}</h1>

      <p>Variablen sind (ähnlich, wie in Mathe) Platzhalter für Werte.</p>
      <p>Sie halten sozusagen eine Zahl, ein Wort oder einen Buchstaben.</p>
    </app-articel>
  </div>

  <label id="code"
    >Code
    <prism-highlight [code]="parseCode() | async" language="javascript">
    </prism-highlight>
  </label>
  <label id="output">
    Output
    <prism-highlight [code]="out() | async" language="any"></prism-highlight>
  </label>
</main>
